/* Correct page size */
body{
    margin: 0%;
}

/* Header Section [Top of page]*/
#USCA{
    position: relative;
    width: 140px;
    height: 45px;
}

#top_header{
    position: relative;
    left: 10%;
    top: -46px;
    font-weight: 100;
    margin: 0%;
}

.btn{
    background: #FFF;
    border: 0;
    color: #0e2d52;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

#home{
    position: relative;
    right: -82%;
    top: -80px;
}

#contact{
    position: relative;
    right: -83%;
    top: -80px;
}

#resources{
    position: relative;
    right: -84%;
    top: -80px;
}

.banner{
    position: relative;
    top: -46px;
    background-color: #BE0523;

}

header{
    position: relative;
    left: 45px;
    color: #FFF;
    font-size: 45.102px;
}


/*Shift all content up to approiate spot*/
.content{
    position: relative;
    top: -46px;
}

/* Text Content Section */
h1{
    position: relative;
    left: 45px;
    color: #0e2d52;
    font-size: 38;
}

#GenCyber{
    position: relative;
    left: 62%;
    width: 572px;
    height: 370px;
}

/* Footer Section */
.footer_meta{
    position: relative;
    background-color: #0e2d52;
}

.location{
    position: relative;
    top: 20px;
    left: 45px;
    color: #FFF;
}

#top{
    position: relative;
    left: 90%;
    top: -65px;
    background: #FFF;
    border: 0;
    border-radius: 3px;
    color: #0e2d52;
    cursor: pointer;
    width: 116px;
    height: 38px;
    text-align: top;
    font-weight: bold;
}

.copyright{
    position: relative;
    color: #0e2d52;
}