/* Correct page size */
body{
    margin: 0%;
}

/* Header Section [Top of page]*/
#USCA{
    position: relative;
    width: 140px;
    height: 45px;
}

#top_header{
    position: relative;
    left: 10%;
    top: -46px;
    font-weight: 100;
    margin: 0%;
}

.btn{
    background: #FFF;
    border: 0;
    color: #0e2d52;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

#home{
    position: relative;
    right: -82%;
    top: -80px;
}

#contact{
    position: relative;
    right: -83%;
    top: -80px;
}

#resources{
    position: relative;
    right: -84%;
    top: -80px;
}

.banner{
    position: relative;
    top: -46px;
    background-color: #BE0523;

}

header{
    position: relative;
    left: 45px;
    color: #FFF;
    font-size: 45px;
}

/*Shift all content up to approiate spot*/
.content{
    position: relative;
    top: -46px;
    height: 580px;
}

/* Text Content Section */
h1{
    position: relative;
    left: 45px;
    color: #0e2d52;
    font-size: 38;
}

#summary{
    position: relative;
    left: 45px;
}

#GenCyber{
    position: relative;
    left: 62%;
    width: 572px;
    height: 370px;
}

.info_header{
    position: relative;
    top: -370px;
}

#goals{
    position: relative;
    top: -370px;
    left: 45px;
}

#who{
    position: relative;
    top: -370px;
    left: 45px;
}

/* Table Section */
h2{
    position: relative;
    left: 45px;
    color: #FFF;
    font-size: 38;
}

.workshop_times{
    position: relative;
    background-color: #BE0523;
    padding-bottom: 45px;
}

#dates{
    position: relative;
    left: 45px;
    width: 1410px;
    height: 250px;
}

.first{
    background-color: #FFF;
    text-align: center;
    color: #000;
    font-size: 24px;
    width: 470px;
}

.second{
    background-color: #0e2d52;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    width: 460px;
}

.third{
    background-color: #FFF;
    text-align: center;
    color: #000;
    font-size: 24px;
}


/* Footer Section */
.footer_meta{
    position: relative;
    top: -16px;
    background-color: #0e2d52;
}

.location{
    position: relative;
    top: 20px;
    left: 45px;
    color: #FFF;
}

#top{
    position: relative;
    left: 90%;
    top: -65px;
    background: #FFF;
    border: 0;
    border-radius: 3px;
    color: #0e2d52;
    cursor: pointer;
    width: 116px;
    height: 38px;
    text-align: top;
    font-weight: bold;
}

.subfooter{
    height: 22px;
}

.copyright{
    position: relative;
    top: -16px;
    left: 5px;
    color: #0e2d52;
}

.links{
    position: relative;
    top: -56px;
    left: 95%;
}
